#indexBody, html { 
    background: url(photos/nordwood-themes-kRNZiGKtz48-unsplash.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.buffer{
    height: 200px;
}
.container{
    text-align: center;
    margin-left: 10px;
}
.header{
    color: gray;
    font-size: 4em;
}
#name{
    color: grey;
    font-size: 1.5em;
}
hr{
    margin-left: 20px;
}
.btn{
    margin-right: 10px;
    margin-bottom: 10px;
}